@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-secondary: #3b82f6;
  --color-dark: #1e293b;
  --color-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}

.custom-scrollbar-none::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
